<div>
  <div id="button" class="p-2"></div>
  <h3 class="{{headingclass}}">{{welcome}}</h3>
  <a href="{{{url}}}">{{ text }}</a>
</br>

  <a href="{{{popurl}}}" target="_blank" class="d-block">{{poptext}}</a>
  <a href="{{{tableurl}}}" target="_blank" class="d-block">{{tabletext}}</a>
  {{#access}}
    <p>{{#str}}lastaccess, block_superframe{{/str}} {{#userdate}}{{access}}, {{#str}}strftimedate{{/str}}{{/userdate}}</p>
    {{/access}}
  <div class="mt-2">
    <p>{{ heading }}</p> 
    {{#list}}
    <ul class="list-group ml-0 mt-2">
     <li class="list-group-item list-group-item-warning">{{.}}</li>
    </ul> 
    {{/list}}
  </div>
</div>
