<d>
  <h1>{{ welcome }}</h1>
  <a href="{{{url}}}">{{ text }}</a>
</br>
  <a href="{{{popurl}}}" target="_blank" class="d-block">{{poptext}}</a>
  <a href="{{{tableurl}}}" target="_blank" class="d-block">{{tabletext}}</a>
  <div class="mt-2">
    <p>{{ heading }}</p> 
    {{#list}}
    <ul class="list-group ml-0 mt-2">
     <li class="list-group-item list-group-item-warning">{{.}}</li>
    </ul> 
    {{/list}}
  </div>
</div>
